[Unit]
Description=Fealty App Service
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=2
User=root
ExecStart=/usr/bin/fealty
EnvironmentFile=/etc/fealty/VARS
PassEnvironment=MONGO_URI MONGO_USER MONGO_PASS FEALTY_CONFIG FEALTY_USER FEALTY_PASS DOMAIN

[Install]
WantedBy=multi-user.target
