html {
    font-size: 10px; 
    font-family: "Noto Sans", sans-serif;
    background-color: antiquewhite;
}

h1 {
    font-size: 40px;
    text-align: left;
}

h2 {
    font-size: 26px;
    text-align: left;
}
  
p, li {
  font-size: 14px;
  line-height: 2;
  letter-spacing: 1px;
}

form {
  font-size: 14px;
  line-height: 1;
  letter-spacing: 1px;
}

body {
  margin: 0 auto;
}

.parent {
  display: grid;
  grid-template: auto 1fr auto / auto auto 1fr;
}

.header {
  padding-left: 2rem;
  grid-column: 1 / 4;
}

.left-side {
  padding: 2rem;
  grid-column: 1 / 2;
}

.main {
  padding: 2rem;
  grid-column: 2 / 3;
}

.right-side {
  padding: 2rem;
  grid-column: 3 / 4;
}

.footer {
  padding: 2rem;
  grid-column: 1 / 4;
}

.user-action {
  padding-bottom: 2rem;
}
